In [23]:
from helper_load import get_engine_database
import pandas as pd

with open("./secrets.txt", "r") as f:
    driver, username, password, host, port, database = f.read().split(",")
engine = get_engine_database(driver, username, password, host, port, database)

In [24]:
socios = pd.read_excel("Empresas-Sócios_CNAE-9602501_Cidade-Maringa_test_1.xlsx", sheet_name="Sócios")
socios.head()

,CNPJ Básico,Identificador Sócio,Nome Sócio,CNPJ/CPF Sócio,Qualificação Sócio,Data Entrada Sociedade,País,CPF Representante Legal,Nome Representante Legal,Telefone
0,24699192,PESSOA FISICA,NATHANE DE SA DOS SANTOS,***167958**,Sócio-Administrador,12/02/2023,NAO DECLARADOS,***000000**,NaN,44 99649820
1,31611871,PESSOA FISICA,GUILHERME DA SILVA BRISCE,***451599**,Sócio-Administrador,07/05/2021,NAO DECLARADOS,***000000**,NaN,44 99257008
2,10567239,PESSOA FISICA,MARILEIDE DE JESUS PAVAN,***226608**,Sócio-Administrador,07/11/2008,NAO DECLARADOS,***000000**,NaN,41 98387956
3,10567239,PESSOA FISICA,TAYNARA PAVAN DE OLIVEIRA POSSO,***292809**,Sócio,28/03/2019,NAO DECLARADOS,***000000**,NaN,41 98387956
4,13428716,PESSOA FISICA,LAIS RUSSO PAINA FREITAS,***779199**,Sócio-Administrador,24/03/2011,NAO DECLARADOS,***000000**,NaN,44 30319488

In [25]:
nome, cnpj_cpf, telefone = socios["Nome Sócio"], socios["CNPJ/CPF Sócio"], socios["Telefone"]
nome, cnpj_cpf, telefone

(0            NATHANE DE SA DOS SANTOS
 1           GUILHERME DA SILVA BRISCE
 2            MARILEIDE DE JESUS PAVAN
 3     TAYNARA PAVAN DE OLIVEIRA POSSO
 4            LAIS RUSSO PAINA FREITAS
                    ...
 74             FABIANA JUNKLAUS FERRO
 75           EVELIN CASTALDELLI SILVA
 76                 ANA LUCIA DA SILVA
 77    FABIO VELUCINO DE MATTOS SCOPEL
 78         ELAINE APARECIDA DE MATTOS
 Name: Nome Sócio, Length: 79, dtype: object,
 0     ***167958**
 1     ***451599**
 2     ***226608**
 3     ***292809**
 4     ***779199**
          ...
 74    ***134979**
 75    ***393989**
 76    ***438549**
 77    ***022649**
 78    ***989689**
 Name: CNPJ/CPF Sócio, Length: 79, dtype: object,
 0     44 99649820
 1     44 99257008
 2     41 98387956
 3     41 98387956
 4     44 30319488
          ...
 74    44 91725758
 75    44 91731821
 76    44 32232745
 77    44 30310263
 78    44 30310263
 Name: Telefone, Length: 79, dtype: object)

In [26]:
check_t = []
repeated = []
for n, c, t in zip(nome, cnpj_cpf, telefone):
    if t in check_t:
        repeated.append((n, c, t))
    else:
        check_t.append(t)

In [32]:
n, c, t = repeated[3]
with engine.begin() as conn:
    qry = f"""SELECT
    telefone
FROM public.socio_telefone
WHERE nome_socio = '{n}' AND cnpj_cpf_socio = '{c}' AND telefone NOT IN ('{t}', ' ');"""

    r = pd.read_sql(qry, conn).dropna()
r

      telefone
0  44 30100440