In [6]:
import pandas as pd
import json

In [7]:
with open("all_dtypes.json", "r") as f:
    dtypes = json.load(f)

In [8]:
columns = [k for k in dtypes["empresas"].keys()]
columns

['cnpj_basico',
 'razao_social',
 'natureza_juridica',
 'qualificacoes_responsavel',
 'capital_social',
 'porte_empresa',
 'ente_federativo_responsavel']

In [10]:
columns = ",".join([k for k in dtypes["empresas"].keys()])
columns

'cnpj_basico,razao_social,natureza_juridica,qualificacoes_responsavel,capital_social,porte_empresa,ente_federativo_responsavel'

In [9]:

empresas = pd.read_csv("rawfiles/Empresas0.csv", delimiter=";", encoding="latin-1", nrows=100_000, dtype=dtypes["empresas"])
empresas.head()

,41273594,OZINETE DELFINO CALDAS 41608224287,2135,50,"5000,00",01,Unnamed: 6
0,41273595,GILVAN PEREIRA XAVIER 01363090380,2135,50,"3000,00",1.0,NaN
1,41273596,RODRIGO JOSE FERREIRA LOPES 05010247941,2135,50,"10000,00",1.0,NaN
2,41273597,PACHARRUS QUEIROZ DA COSTA E SILVA 03618384335,2135,50,"5000,00",1.0,NaN
3,41273598,GLORIA VIANA DIAS DA SILVA 13118961716,2135,50,"1100,00",1.0,NaN
4,41273599,ANA PAULA DA SILVA DE PAULA 04659802957,2135,50,"2000,00",1.0,NaN

In [ ]:
estabalecimentos = pd.read_csv("rawfiles/Estabelecimentos0.csv", delimiter=";", encoding="latin-1", nrows=100_000)
estabalecimentos.head()

In [ ]:
socios = pd.read_csv("rawfiles/Socios0.csv", delimiter=";", encoding="latin-1", header=False, nrows=100_000)
socios.head()