In [1]:
import pandas as pd

In [2]:
empresas = pd.read_csv("zipfiles/Empresas0.zip", compression="zip", delimiter=";", encoding="latin-1", nrows=100_000)
empresas.head()

,41273594,OZINETE DELFINO CALDAS 41608224287,2135,50,"5000,00",01,Unnamed: 6
0,41273595,GILVAN PEREIRA XAVIER 01363090380,2135,50,"3000,00",1.0,NaN
1,41273596,RODRIGO JOSE FERREIRA LOPES 05010247941,2135,50,"10000,00",1.0,NaN
2,41273597,PACHARRUS QUEIROZ DA COSTA E SILVA 03618384335,2135,50,"5000,00",1.0,NaN
3,41273598,GLORIA VIANA DIAS DA SILVA 13118961716,2135,50,"1100,00",1.0,NaN
4,41273599,ANA PAULA DA SILVA DE PAULA 04659802957,2135,50,"2000,00",1.0,NaN

In [4]:
estabalecimentos = pd.read_csv("zipfiles/Estabelecimentos0.zip", compression="zip", delimiter=";", encoding="latin-1", nrows=100_000)
estabalecimentos.head()

/tmp/ipykernel_60041/3249517830.py:1: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  estabalecimentos = pd.read_csv("zipfiles/Estabelecimentos0.zip", compression="zip", delimiter=";", encoding="latin-1", nrows=100_000)

,17770083,0001,09,1,Unnamed: 4,08,20130430,01,Unnamed: 8,Unnamed: 9,...,6001,21,73041139,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29
0,17770096,1,70,1,CIA DOS MAMIFEROS,2,20130318,0,NaN,NaN,...,8589,51.0,93645969.0,NaN,NaN,NaN,NaN,CIADOSMAMIFEROS@GMAIL.COM,NaN,NaN
1,16809686,1,4,1,PENSAO E LANCHONETE DA HORA,8,20180201,67,NaN,NaN,...,5851,21.0,73790595.0,NaN,NaN,NaN,NaN,karinnefontella01@gmail.com,NaN,NaN
2,17770120,1,70,1,GRILL E CIA,8,20211231,75,NaN,NaN,...,8801,51.0,98556432.0,NaN,NaN,NaN,NaN,glabsonoliveira@hotmail.com,NaN,NaN
3,17770134,1,94,1,OFICINA SHUREK,2,20130318,0,NaN,NaN,...,2491,81.0,87007659.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,17770149,1,52,1,NaN,2,20130318,0,NaN,NaN,...,5425,31.0,97902789.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
socios = pd.read_csv("zipfiles/Socios0.zip", compression="zip", delimiter=";", encoding="latin-1", header=False, nrows=100_000)
socios.head()