In [5]:
import dask.dataframe as dd

In [6]:
ddf = dd.read_csv("../Extract/files/Cnaes.csv", header=None, encoding="latin-1", sep=";")
ddf.columns = ["cnae_fiscal_principal","descricao"]
ddf.info()

<class 'dask.dataframe.core.DataFrame'>
Columns: 2 entries, cnae_fiscal_principal to descricao
dtypes: int64(1), string(1)

In [7]:
ddf.head()

   cnae_fiscal_principal                                          descricao
0                 111301                                   Cultivo de arroz
1                 111302                                   Cultivo de milho
2                 111303                                   Cultivo de trigo
3                 111399  Cultivo de outros cereais não especificados an...
4                 112101                        Cultivo de algodão herbáceo